body {
    background-image: url("./img/Digital_rain_animation_medium_letters_shine.gif");
    background-repeat: repeat;
    text-align: center;
}

.nav-link,
.navbar-brand,
h1 {
    color: white;
}

.container {
    text-align: center;
}

#scritta {
    font-size: 100%;
}

#mail,
#password,
#user,
#buttonContainer,
#loginTitle {
    text-align: center;
}

#loginTitle {
    margin-bottom: 10%;
}

#form {
    background-color: gray;
    padding: 3%;
}

h3 {
    font-size: xx-large;
    color: white;
}

#pulsanti {
    text-align: center;
    margin-top: 5%;
}

#login {
    background-color: lightgrey;
    padding: 10px;
    position: relative;
    display: block;
    margin-top: 10%;
}

#giu,
#dx,
#sx,
#su,
#sp,
#pr {
    font-size: x-large;
}

#sp,
#pr {
    font-size: large;
    background-color: black;
    color: white;
    border-radius: 5px;
}

#pr {
    margin-left: 1%;
    font-size: medium;
}

#giu,
#dx,
#sx,
#su {
    margin-top: 1%;
    image-rendering: auto;
}

#dx {
    margin-left: 15%;
}

#giu,
#su,
#sx,
#dx {
    width: 100px;
    height: 100px;
}

#scritta {
    font-size: large;
    font-weight: bold;
}

#inp {
    color: black;
    border-radius: 5px;
}