<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App alphabot</title>
    <link href="../static/bootstrap/bootstrap-5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href='..\static\style.css' />
</head>

<body>
    <div class="container">
        <form method="post" id="form"
            class="rounded border border-danger position-absolute top-50 start-50 translate-middle">
            <h3 id = "loginTitle">Comandi Alphabot AB01</h3>

            <div class="mb-3">
                <select id="sp" name="stringaSpeciale" size="1" required>
                    <option value="m">M</option>
                    <option value="[">[</option>
                    <option value="z">Z</option>
                </select>
                <input id="pr" type="submit" value="esegui" name="esegui">
            </div>

            <div class="mb-3">
                <br>
                <input id="su" type="image" value="avanti" name="avanti"
                    src="{{ url_for('static', filename='img/Arrow.png') }}" style="transform:rotate(180deg);"
                    alt="submit" />
                <br>
                <input id="sx" type="image" value="sinistra" name="sinistra"
                    src="{{ url_for('static', filename='img/Arrow.png') }}" style="transform:rotate(90deg);"
                    alt="submit" />

                <input id="dx" type="image" value="destra" name="destra"
                    src="{{ url_for('static', filename='img/Arrow.png') }}" style="transform:rotate(-90deg);"
                    alt="submit" />
                <br>
                <input id="giu" type="image" value="indietro" src="{{ url_for('static', filename='img/Arrow.png') }}"
                    name="indietro" alt="submit" />
            
            </div>
        </form>
    </div>
</body>

</html>