<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App alphabot</title>
    <link rel="stylesheet" href='..\static\style.css' />
</head>

<body>
    <h3>Comandi Alphabot AB01</h3>
    <form method="post" id="pulsanti">
        <select id="sp" name="stringaSpeciale" size="1" required>
            <option value="m">M</option>
            <option value="[">[</option>
            <option value="z">Z</option>
            <input id="pr" type="submit" value="esegui" name="esegui">
            <br>
            <input id="su" type="submit" value="avanti" name="avanti" src="../img/Arrow.png"style="transform:rotate(180deg);" />
            <br>
            <input id="sx" type="submit" value="sinistra" name="sinistra" src="../img/Arrow.png" style="transform:rotate(90deg);" />
            <input id="dx" type="submit" value="destra" name="destra" src="../img/Arrow.png" style="transform:rotate(-90deg);" />
            <br>
            <input id="giu" type="submit" value="indietro" src="../img/Arrow.png" name="indietro" />
</body>

</html>