<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device- , initial-scale=1">
    <title>Login Page</title>
    <link href="../static/bootstrap/bootstrap-5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href='../static/style.css' />
</head>

<body>
    <div class="container">
        <form id="form" class="rounded border border-danger position-absolute top-50 start-50 translate-middle"
            action="" method="post">

            <h1 id="loginTitle">Login Here</h1>

            {% if error %}
            <div class='p-3 alert alert-danger' role='alert'>{{ error }}</div> <!--{{ error }}-->
            {% endif %}

            <!-- Username -->
            <div class="row mb-3">
                <label id="user" for="inputText3" class="text-black col-form-label fs-4">Username</label>
                <div class="col-sm-20">
                    <input id="inp" type="text" placeholser="Username" name="username"
                        value="{{request.form.username }}" class="p-3 form-control" pattern="[^'\x22]+" required>
                </div>
            </div>
            <!-- End Username -->

            <!-- Password -->
            <div class="row mb-3">
                <label id="password" for="inputPassword3" class="text-black col-form-label fs-4">Password</label>
                <div class="col-sm-20">
                    <input id="inp" type="password" placeholder="Password" name="password"
                        value="{{request.form.password }}" class="p-3 form-control"
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                </div>
            </div>
            <!-- End Password -->

            <!-- Sign in Button -->
            <div id="buttonContainer" class="mb-4">
                <button type="submit" class="btn btn-primary fs-4">Sign in</button>
            </div>
            <!-- End sign in Button -->

            <a class="link-warning link-offset-2 link-underline link-underline-opacity-0" href="./">Sign up Here</a>
        </form>
    </div>
</body>

</html>