<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device- , initial-scale=1">
    <title>Actions</title>
    <link href="../static/bootstrap/bootstrap-5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href='../static/style.css' />
</head>

<body>
    <div id="form" 
        class="rounded border border-danger d-grid gap-4 col-3 mx-auto position-absolute top-50 start-50 translate-middle"
        aria-label="Toolbar with button groups">

        <h1 id="loginTitle">Choose your action</h1>

        <a href="/login" class="btn btn-primary fs-5 btn-outline-light btn-success" type="button">Login</a>

        <a href="/registration" class="btn btn-primary fs-5 btn-outline-light btn-success" type="button">Sign Up</a>

        <a href="/adminReg" class="btn btn-primary fs-5 btn-outline-light btn-success" type="button">Sign Up as
            Admin</a>
    </div>
</body>